@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Arabic');


body {
  direction: rtl;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  margin: 32px 16px 32px 0;
}

.form-style {
  position: relative;
  /* background-color: #F5F6F8; */
  padding: 16px 8px;
  margin: 8px 2px;
  border-radius: 32px;
}

tbody tr:first-child {
  background-color: #e1ebff;
  border-radius: 32px;
  /* position: fixed; */
  width: 100%;
}

.tab-container {
  overflow-x: scroll;
  white-space: nowrap;
}

/* .tab-container::-webkit-scrollbar {
  display: none;
}

.tab-container {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
} 
*/

.tabs {
  display: inline-block;
  padding: 4px 0 12px;
}

.tab {
  display: inline-block;
  padding: 10px;
  border: 1px solid #ccc;
  margin-right: 10px;
  cursor: pointer;
}

.tabs :first-child {
  margin-right: 0 !important;
}

.tab.active {
  background-color: #ccc;
}

#searchInput {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  width: 320px;
  padding: 12px 8px;
  text-indent: 12px;
  border-radius: 32px;
  border: 1px solid rgb(204 206 214);
  margin-bottom: 16px;
}

h1 {
  margin-bottom: 0;
}

.semester {
  margin-bottom: 28px;
  opacity: .7;
}